body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:#f0ded0;
  }
  
  .navbar {
    height: 70px;
    margin: auto;
    background-color: #ae887b;
    border-style: solid;
    border-color: #4c381e;
  }
  
  ul {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul li {
    list-style: none;
    margin-left: 50px;
    margin-top: 15px;
    font-size: 15px;
    text-align: center;
  }
  
  ul li a {
    list-style: none;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: #4c381e;
    font-family: sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
  }
  
  ul li a:hover {
    color:#f0ded0;
  }

  
  .form-box {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .form-box table {
    width: 70%;
    margin: 0 auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  .form-box th,
  .form-box td {
    padding: 8px;
    border: 3px solid #4c381e;
    text-align: center;
  }
  
  .form-box th {
    background-color: rgba(174, 136, 123, 0.808);
    font-weight: 700;
    color: #fff;
  }
  
  .form-box tbody tr:nth-child(even) {
    text-align: center;
    background-color: rgba(174, 136, 123, 0.808);
  }