body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:#f0ded0;
  }
  
  .navbar {
    height: 70px;
    margin: auto;
    background-color: #ae887b;
    border-style: solid;
    border-color: #4c381e;
  }
  
  ul {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul li {
    list-style: none;
    margin-left: 50px;
    margin-top: 15px;
    font-size: 15px;
    text-align: center;
  }
  
  ul li a {
    list-style: none;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: #4c381e;
    font-family: sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
  }
  
  ul li a:hover {
    color:#f0ded0;
  }
  
  button {
    background-color: rgba(174, 136, 123, 0.808);
    border: none;
    color: #ffffff;
    cursor: pointer;
    border-radius: 20px;
    padding: 8px 16px;
    margin-left: 20px;
    margin-right: 20px;
    float:right;
  }


  /* form box*/
  .box {
    width: 50%;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #000000;
  }
  
  .box h1 {
    text-align: center;
    font-style: italic;
    font-weight: 600;
    color: #4c381e;
  }
  
  .box .details {
    display: block;
    font-weight: 400;
    margin-bottom: 5px;
  }
  
  .box .input-box {
    margin-bottom: 20px;
  }
  
  .box .input-box input {
    height: 40px;
    width: calc(100% - 30px);
    outline: none;
    border: 1px solid #ae887b;
    border-radius: 8px;
    padding-left: 15px;
    font-size: 16px;
  }
  
  .box .input-box input:focus {
    border-color: #ae887b;
  }
  
  .box .button input {
    height: 45px;
    width: 100%;
    outline: none;
    border: 3px solid #ae887b;
    background: #ffffff;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    color: #4c381e;
    cursor: pointer;
    transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;
  }
  
  .box .button input:hover {
    background: #ffffff;
    border-color: #ae887b;
  }

  .ui-autocomplete {
    display:block;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.ui-helper-hidden-accessible {
  display: none;
}

/* Style for the autocomplete results container */
.ui-autocomplete {
  max-height: 300px;
  overflow-y: auto;
  width: 200px; /* Adjust the width as needed */
}

/* Style for individual items in the autocomplete menu */
.ui-autocomplete li {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Highlight on hover */
.ui-autocomplete li:hover {
  background-color: #f0f0f0;
}

/* Style for product items */
.ui-autocomplete .product-item {
  background-color: #f0ded0;
}

/* Style for category items */
.ui-autocomplete .category-item {
  background-color: #ae887b;
}