body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:#f0ded0;
  }
  
  .navbar {
    height: 70px;
    margin: auto;
    background-color: #ae887b;
    border-style: solid;
    border-color: #4c381e;
  }

  .welcome-message {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #ae887b;
    color: #4c381e;
    padding: 10px;
    border-radius: 5px;
    animation: fadeInOut 30s ease-in-out;
    display: none;
  }
  
  @keyframes fadeInOut {
    0%,
    100% {
      opacity: 0;
    }
    10%,
    90% {
      opacity: 1;
    }
  }
  
  ul {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul li {
    list-style: none;
    margin-left: 50px;
    margin-top: 15px;
    font-size: 15px;
    text-align: center;
  }
  
  ul li a {
    list-style: none;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: #4c381e;
    font-family: sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
  }
  
  ul li a:hover {
    color:#f0ded0;
  }

  #map {
    position: bottom;
    top: 2pc;
    bottom: 10pc;
    height: 50%;
    width: 50%;
  }

/*filtermapbutton*/
button {
    background-color: #ae887b;
    border: #ae887b;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;
    padding: 8px 16px;
    margin-top:15px;
  }

  .container {
    text-align: center;
    font-style: italic;
    font-weight: 600;
    color: #4c381e;
    background: #f5f5f5;
    background-color: #f0ded0;
  }
  
  .container input {
    height: 45px;
    width: 50%;
    background: #f5f5f5;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    color: #4c381e;
    cursor: pointer;
    transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;
  }
  
  .container input:hover {
    background: #f5f5f5;
    border-color: #ae887b;
  }