body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(240, 222, 208, 1);
  background-size: cover;
}
.box {
  max-width: 450px;
  width: 70%;
  height: 100;
  background: none;
  padding: 25px 30px;
  background: rgba(174, 136, 123, 0.525);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.box h1 {
  text-align: center;
  font-style: italic;
  font-weight: 600;
  color: rgba(76, 56, 30, 0.619);
}

.box .details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-style: italic;
  color: rgb(76, 56, 30);
}

.box .input-box {
  margin-bottom: 10px;
  height: 70px;
  width: calc(100% / 2 -20px);
}

.box .input-box .details {
  display: block;
  font-weight: 400;
  margin-bottom: 5px;
  margin-left: 15px;
}

.box .input-box input {
  height: 40px;
  width: 100%;
  outline: none;
  border: 1px solid rgba(174, 136, 123, 1);
  border-radius: 50px;
  padding-left: 15px;
  font-size: 16px;
}

.box .input-box input:focus {
  border-color: rgba(174, 136, 123, 1);
}

.box .button input {
  height: 45px;
  width: 40%;
  outline: none;
  border: 3px solid rgba(174, 136, 123, 1);
  background: rgba(249, 245, 242, 0.82);
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  color: rgba(76, 56, 30, 1);
}

.box .button input:hover {
  background: rgb(252, 252, 252);
  border-color: rgba(174, 136, 123, 1);
}
